<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.hank.mypaintcolormatrix">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 使用ColorMatrix类生成色彩矩阵，单个颜色的蓝色通道 -->
        <activity android:name=".activity.PaintColorMatrixInitActivity"/>
        <!-- 使用ColorMatrix类生成色彩矩阵，对图片多颜色的蓝色通道输出 -->
        <activity android:name=".activity.PaintColorMatrixImgActivity"/>
        <!-- 设置图片的饭和度 -->
        <activity android:name=".activity.PaintColorMatrixSetSaturationActivity"/>

    </application>
</manifest>